<h1>Login#index</h1>
<form  action="/login/authenticate" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<label for="email">Enter your email:</label>
<input type="email" id="email" name="email"><br><br>
  <label for="passowrd">Password:</label>
  <input type="password" id="password" name="password"><br><br>

  <input type="submit" value="Login">
</form>
 <br><br>
 <br><br>
 <p>Not a member yet? <%= link_to "Sign up!", login_new_path %></p>
 